BOT_TOKEN=8949190560:AAGvyOv8SLXAW2vIrJt0emFPCr2ipdIjX8
ADMIN_IDS=123456789,987654321
DATABASE_URL=sqlite+aiosqlite:///./behavior_compass.db
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
BOT_USERNAME=Behavior_Compass_bot
